apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: agricultural-platform-app
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: https://github.com/YOUR_USERNAME/agricultural-platform.git
    targetRevision: HEAD
    path: k8s
    directory:
      recurse: true
  
  destination:
    server: https://kubernetes.default.svc
    namespace: agricultural-platform
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - PruneLast=true
      - RespectIgnoreDifferences=true
    
  ignoreDifferences:
  - group: apps
    kind: Deployment
    jsonPointers:
    - /spec/replicas
  - group: autoscaling
    kind: HorizontalPodAutoscaler
    jsonPointers:
    - /spec/minReplicas
    - /spec/maxReplicas